<section class="test-over-modal">
  <div class="modal-header">
    <h3 class="modal-heading">
      {{
        isModelTypeTimeOver
          ? "Oops !!! Time's Up"
          : "Your have reached the end of test"
      }}
    </h3>
  </div>
  <div class="modal-body">
    <p>
      {{
        isModelTypeTimeOver
          ? "You can submit your test now"
          : "Do you want to submit your test?"
      }}
    </p>

    <button class="btn btn-success m-r-10" type="button" (click)="submitTest()">
      Submit the test
    </button>
    <button
      *ngIf="!isModelTypeTimeOver"
      class="btn btn-success"
      type="button"
      (click)="closeModal()"
    >
      Don't submit the test
    </button>
  </div>
</section>
