<main class="container">
  <h1 class="m-t-50 text-center">Choose your test for practice</h1>
  <section class="select-section row">
    <div class="col-xs-12 col-md-6 col-sm-12">
      <div class="select-test bg-success">
        <div class="test-heading">
          <a routerLink="/test">CAT Complete Tests</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12">
      <div class="select-test bg-warning">
        <div class="test-heading">
          <a routerLink="/test">CAT Sectional Tests</a>
        </div>
      </div>
    </div>
  </section>
</main>
