<main class="container">
  <section class="test-interface">
    <section class="instructions-section" *ngIf="isInstOpen">
      <div class="instructions mx-auto">
        <h3>Important Instructions</h3>
        <ul>
          <li>Your will 3 hours to complete the test</li>
          <li>Please do not click on any link or header or footer</li>
          <li>
            You can see progress of your test of the left sidebar which shows
            different colors for attempted, unattempted on question number
          </li>
          <li>The test will immediately start as you click the start button</li>
          <li>
            There will be popup asking your to submit the test as soon as the
            test is over
          </li>
          <li>
            Click on start button only and only if you have read and understood
            the above instructions
          </li>
        </ul>
        <div class="start-button">
          <button
            type="button"
            class="btn btn-block btn-success"
            (click)="readInstructions()"
          >
            Start
          </button>
        </div>
      </div>
    </section>
    <section class="test-section row" *ngIf="!isInstOpen">
      <section class="col-md-8">
        <div class="questions-container">
          <div *ngFor="let question of questions; let i = index">
            <div *ngIf="i === questionNumber">
              <div class="questions-section">
                <p>
                  <span class="que-text">Q{{ i + 1 }}.</span>
                  {{ question?.text }}
                </p>
              </div>
              <div class="options-section">
                <div class="form-group">
                  <!-- <input
                    type="radio"
                    name="options"
                    [value]="options?.option_one"
                    [ngModel]="question?.option_one"
                    (ngModelChange)="selectOption(question?.option_one, question?.id)"
                  /> -->
                  <input
                    type="radio"
                    name="options"
                    [value]="question.option_one"
                    [(ngModel)]="options.option_one"
                    (ngModelChange)="selectOption(question?.option_one, question?.id)"
                    >
                  <label class="opt-text">{{ question?.option_one }}</label>
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    name="options"
                    [value]="question.option_two"
                    [(ngModel)]="options.option_two"
                    (ngModelChange)="selectOption(question?.option_two, question?.id)"
                  />
                  <label class="opt-text">{{ question?.option_two }}</label>
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    name="options"
                    [value]="question.option_three"
                    [(ngModel)]="options.option_three"
                    (ngModelChange)="selectOption(question?.option_three, question?.id)"
                  />
                  <label class="opt-text">{{ question?.option_three }}</label>
                </div>
                <div class="form-group">
                  <input
                    type="radio"
                    name="options"
                    [value]="question.option_five"
                    [(ngModel)]="options.option_five"
                    (ngModelChange)="selectOption(question?.option_five, question?.id)"
                  />
                  <label class="opt-text">{{ question?.option_four }}</label>
                </div>
                <div class="form-group" *ngIf="question?.option_five !== ''">
                  <input
                    type="radio"
                    name="options"
                    [value]="question.option_five"
                    [(ngModel)]="options.option_five"
                    (ngModelChange)="selectOption(question?.option_five, question?.id)"
                  />
                  <label class="opt-text">{{ question?.option_five }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="navigation">
            <i
              class="left fa fa-angle-left"
              [ngClass]="{ 'btn-disable': checkAndDisableButtons() }"
              (click)="showHideQuestions(questionNumber-1)"
            ></i>
            <i
              class="right fa fa-angle-right"
              (click)="showHideQuestions(questionNumber+1)"
            ></i>
          </div>
        </div>
      </section>
      <section class="col-md-4">
        <div class="status-container">
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
          <div class="status-box"></div>
        </div>
      </section>
      <p class="status-text">Ongoing Status</p>
    </section>
  </section>

  <div>{{this.timeRemaining}}</div>
</main>
