@import "~src/styles";
.container {
  position: relative;
}
.instructions {
  padding: 20px;
  width: 60%;
  @media only screen and (max-width: $screen-xs-max) {
    width: 100%;
  }
  h3 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  ul {
    margin: 20px 0px 40px 0px;
    li {
      padding: 10px 0px;
    }
  }
  .start-button {
    width: 40%;
    margin: 0 auto;
    @media only screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}
.test-section {
  padding-bottom: 90px;
  .questions-container {
    position: relative;
    margin-top: 50px;
    .navigation {
      position: absolute;
      width: 100%;
      i {
        position: absolute;
        font-size: 45px;
        top: 0px;
        color: #0083b0;
        cursor: pointer;
        &.left {
          left: 0px;
        }
        &.right {
          right: 0;
        }
      }
    }
  }
  .status-container {
    top: 56px;
    padding: 20px;
    background: #fff;
    .status-box {
      border: 1px solid #ddd;
      height: 50px;
      width: 50px;
      margin: 5px;
      display: inline-block;
      line-height: 50px;
      text-align: center;
    }
  }
  .status-text {
    transform: rotate(90deg);
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: -5%;
    top: 50%;
  }
  font-size: 18px;
  .form-group {
    padding: 1.1rem 0;
  }
  .que-text {
    font-size: 20px;
    font-weight: bold;
  }
  .opt-text {
    margin-left: 10px;
  }
}
